button{
    width: 100%;
}
form{
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.4);
    position: relative;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
}

label, input {
    display: block;
	widows: 50px;
	margin: 2px 0;
}

input {
	width:100%;
}

fieldset {
    width:100%;
}

#myFile{
    width:100%;
}


#formulario{
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.4);
    position: relative;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 13em;
}
